*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #d6cfe1;
}

.container{
    width: 80%;
    margin: 30px auto;
    background-color: #e9e4f0;
    border-radius: 20px;
    padding: 20px;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e4f0;
    padding: 10px 20px;
    border-radius: 15px;
}

.logo{
    font-size: 50px;
    font-weight: bold;
}

.slogan{
    background-color: #cbb6df;
    padding: 5px 10px;
    font-weight: bold;
}


.perfil{
    background-color: #b8a7cc;
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.foto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.sobre{
    margin-top: 20px;
    font-size: 16px;
}

.secao{
    margin-top: 25px;
}

.secao h3{
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.habilidades{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


ul{
    list-style: none;
}

ul li{
    margin: 5px 0;
}

.contato{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.contato span{
    background-color: #cbb6df;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 14px;
}